@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <h1>Seafood Sharp</h1>
        <h4>The Best Seafood Restaurant</h4>

        <br />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
