@page "/"
@inject HttpClient Http

<PageTitle>Seafood Sharp - New Review</PageTitle>

<h3>New Review</h3>
<br />

<EditForm Model="@NewReview" OnSubmit="@SubmitReview" style="display: grid; grid-template-columns: 150px 350px; grid-row-gap: 10px;">
    Food
    <InputNumber @bind-Value="NewReview.Food" />
    Service
    <InputNumber @bind-Value="NewReview.Service" />
    Ambiance
    <InputNumber @bind-Value="NewReview.Ambiance" />
    Overall
    <InputNumber @bind-Value="NewReview.Overall" />
    Comment:
    <InputTextArea @bind-Value="NewReview.Comment" />

    <button type="submit">Submit</button>

    <div style="grid-column-start: 1; grid-column-end: span 2;">
        <DataAnnotationsValidator />
        <ValidationSummary />
    </div>
</EditForm>

@ResultAnalyzeNewReview